@font-face {
  font-family: "cnHeading";
  src: url(../../modules/swade_compendium_chn/style/cnHeading.TTF);
 }
@font-face {
  font-family: "cnP";
  src: url(../../modules/swade_compendium_chn/style/cnP.ttf);
}
.pages-list,.heading,.pages-list .page-title{
  font-family:'Treacherous Corners','cnP' !important;
}
.swpf-core   h1,.swpf-core  h2,.swpf-core  h3 {
  font-family:'Treacherous Corners','cnP' !important;
}

.journal-entry-page  {
  font-family:'Treacherous Corners','cnP' !important;
}
.journal-entry-page  p{
  font-family:'Treacherous Corners','cnP' !important;
}
.swpf-core .chapter-heading .chapter-number{
  font-family:'Treacherous Corners','cnP' !important;
}
.journal{
  font-family:'Treacherous Corners','cnP' !important;
}
.journal-heading{
  font-family:'Treacherous Corners','cnP' !important;
}